* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    /* background-color:  rgba(146, 231, 252, 0.473); */
    background: linear-gradient(to bottom, rgba(146, 231, 252, 0.473), rgba(228, 244, 248, 0.801));
}

nav {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 0.5em 5em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.logo,
.tabs>ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.tabs>ul>li {
    padding: 1em;
}

li>a {
    text-decoration: none;
}

.logo-text {
    font-size: 3em;
    color: rgba(146, 231, 252, 0.726);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13em;
}

footer {
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}