* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    --bg-primary: rgb(55, 194, 240);
    --bg-secondary: rgb(255, 255, 255);
    --font: rgb(55, 194, 240);
    --font-hover:rgb(255, 255, 255);
    --nav: rgb(255, 255, 255);
    --hover:rgb(55, 194, 240);

    height: 100vh;
    background: linear-gradient(to top, var(--bg-primary) 10%, var(--bg-secondary) );
}

body.dark {
    --bg-primary: rgb(49, 49, 49);
    --bg-secondary: rgb(75, 75, 75);
    --font: rgb(55, 194, 240);
    --font-hover:rgb(255, 255, 255);
    --nav: rgb(59, 59, 59);
    --hover:rgb(114, 114, 114);
}

nav {
    background-color: var(--nav);
    display: flex;
    padding: 0.5em 5em;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    
}

.logo-text {
    font-size: 3em;
    color: rgb(55, 194, 240);
}

#btn-theme {
    cursor: pointer;
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--bg-primary);
    background-color: var(--bg-secondary);
    color: var(--font);
    font-weight: bold;
}
#btn-theme:hover{
    padding: 1em;
    border-radius: 2em;
    border: 1px solid var(--bg-secondary);
    background-color: var(--bg-primary);
    color: var(--font-hover);
    font-weight: bold;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13em;
}

.login-container {
    background-color: var(--bg-secondary);
    padding: 5em 10em;
    transform: translateY(-5em);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.267), 0 8px 16px rgba(0, 0, 0, 0.26);
    border-radius: 1em;
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.5em;
}

#in-email,
#in-pass,
#btn-submit {
    transition: 0.3s;
    height: 2.8em;
    font-size: 1em;
    width: 20em;
    border-radius: 0.8em;
    border: none;
    outline: 0.1px solid rgba(0, 0, 0, 0.116);
}

#btn-submit {
    font-weight: bold;
    background-color: var(--bg-secprondary);
    color: var(--font);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.164);
}

#in-email,
#in-pass {
    padding: 0em 0em 0em 1em;
}

#in-email:focus,
#in-pass:focus {
    outline: 0.1px solid var(--hover);
}

#btn-submit:hover {
    transition: 0.3s;
    background-color: var(--hover);
    color: var(--font-hover);
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.164);
}

#btn-submit:active {
    background-color: var(--bg-primary);
    box-shadow: none;
}

footer {
    padding: 1em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}