{% extends 'base.html' %}

{% block head %}
<title>Home page</title>
<link rel="stylesheet" href="/static/css/home.css">
{% endblock %}

{% block body %}
<header>
    <nav>
        <div class="logo">
            <div class="logo-text">R</div>
            <img src="/static/img/logo1.png" alt="LOGO" width="100px">
            <div class="logo-text">D</div>
        </div>
        <div class="tabs">
            <ul>
                <li><a href="">Current Inventry</a></li>
                <li><a href="">Create Order</a></li>
                <li><a href="">Current Orders</a></li>
                <li><a href="">Order History</a></li>
            </ul>
        </div>
    </nav>
</header>
<main>

</main>
<footer>@ProjectRD for Sahil</footer>
{% endblock %}

{% block script %}
<!-- <script src="/static/js/script.js"></script> -->
<script>{{msg}}</script>
{% endblock %}