{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="/static/css/home.css">
<style>
    h1 {
        text-align: center;
    }

    div {
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %}
{% block header %}
<header>
    <nav>
        <a href="#" class="logo">
            <div class="logo-text">R</div>
            <img src="/static/img/logo1.png" alt="LOGO" width="100px">
            <div class="logo-text">D</div>
        </a>
        <button id="btn-theme" onclick="switchTheme()">Light</button>
    </nav>
</header>
{% endblock %}

{% block body %}
<div><img src="/static/img/sign-no.png" alt="" width="150px"></div>
<h1>Invalid credentials, Try again.</h1>
{% endblock %}